{% extends "base_site.html" %}

{% block title %} DTBase {% endblock title %}

{% block content %}
<div class="container">
    <h3>Add New Location</h2>
    <form id="location-form" method="POST">
        <div class="form-group">
            <label for="schema">Schema:</label>
            <select class="form-control custom-select" id="schema" name="schema" onchange="updateForm()" required>
                <option value="">-- Select a schema --</option>
                {% for schema in schemas %}
                    <option value="{{ schema.name }}">{{ schema.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="identifiers"></div>

        <button type="submit" class="btn btn-primary btn-margin">Submit</button>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/location.js') }}"></script>
<script>
    window.schemas = {{ schemas|tojson|safe }};
    document.getElementById("schema").addEventListener("change", updateForm);
</script>
{% endblock javascripts %}
