{% extends "base_site.html" %}

{% block title %} DTBase {% endblock title %}

{% block content %}
<div class="container">
    <h2>Enter Location Schema</h2>
    <form id="location-schema-form" method="POST">
        <div class="form-group">
            <label for="name">Schema Name:</label>
            <input type="text" class="form-control custom-input" id="name" name="name" required placeholder="Schema Name" value="{{ form_data.name if form_data }}">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control custom-input" id="description" name="description" required placeholder="Description" value="{{ form_data.description if form_data }}">
        </div>
        <div class="form-group">
            <label>Identifier:</label>
            <select class="form-control custom-select existing-identifier-select" style="width: auto;">
                <option disabled selected value="">-- Select existing identifier --</option>
                {% for identifier in existing_identifiers %}
                    <option value="{{ identifier.id }}">{{ identifier.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="button" class="btn btn-primary btn-add-identifier">+ Add new identifier</button>
            {% for identifier_row in identifier_rows %}
                {{ identifier_row }}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
{{ super()}}

<script>
    const existing_identifiers = {{ existing_identifiers|tojson }};
</script>
<script src="{{ url_for('static', filename='javascript/location_schema.js') }}"></script>

{% endblock javascripts %}
