{% extends "base_site.html" %}

{% block title %} DTBase {% endblock title %}

{% block content %}
<h3>Add New Location</h2>
<form id="location-form" method="POST">
    <div class="form-group">
        <label for="schema">Schema:</label>
        <select class="form-control custom-select custom-input" id="schema" name="schema" required>
            <option value="">-- Select a schema --</option>
            {% for schema in schemas %}
                <option
                    {% if selected_schema and schema.name == selected_schema %}
                    selected
                    {% endif %}
                    value="{{ schema.name }}"
                >
                {{ schema.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div id="identifiers"></div>
    <button type="submit" class="btn btn-primary btn-margin">Submit</button>
</form>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/location.js') }}"></script>
<script>
  const schemas = {{ schemas|tojson|safe }};
  window.onload = function () {
    const schema = document.getElementById("schema");
    schema.addEventListener("change", () => window.updateForm(schemas));
    if (schema.value != "") {
      window.updateForm(schemas);
    }
  };
</script>
{% endblock javascripts %}
