{% extends "base_site.html" %}

{% block title %} {{config['WEBSITE_NAME']}} {% endblock title %}

{% block sidebar %} {# Omit the sidebar content #} {% endblock sidebar %}

{% block content %}
<div class="col-12 mt-5 ms-5">
    <h3 style="margin-bottom: 15px;">Edit Sensor</h2>

    <p style = "margin-bottom: 5px;"><strong>You are editing:</strong></p>
    {% for key, value in all_args.items() %}
        <p style="margin-bottom: 1px; margin-left: 20px"> - {{ key }}: {{ value }}</p>
    {% endfor %}

    <form style="margin-top: 15px" id="edit-sensor-form" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control custom-input" id="name" name="name" required value="{{all_args['name']}}">
            <label for="notes">Notes:</label>
            <input type="text" class="form-control custom-input" id="notes" name="notes" required value="{{all_args['notes']}}">
        </div>
        <button type="submit" class="btn btn-primary btn-margin">Submit</button>
        <button type="button" class="btn btn-warning btn-margin" formnovalidate onclick="window.close()">Cancel</button>
        <button type="button" class="btn btn-danger btn-margin" formnovalidate onclick="window.deleteSensor()">Delete</button>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/sensor_edit_form.js') }}"></script>
<script>
  document.getElementById("edit-sensor-form").addEventListener("submit", window.editSensor);
</script>
{% endblock javascripts %}
