{% extends "base_site.html" %}

{% block title %} Sensors {% endblock title %}

{% block content %}
<h3>Sensors</h2>
<div class="form-group">
    <label for="sensor_type">Sensor Type:</label>
    <select class="form-control custom-select custom-input" id="sensor_type" name="sensor_type" required>
        <option value="">-- Select a sensor type --</option>
        {% for sensor_type in sensor_types %}
            <option value="{{ sensor_type.name }}">{{ sensor_type.name }}</option>
        {% endfor %}
    </select>
</div>

<div id="sensorTable"></div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='javascript/sensor_list_table.js') }}"></script>
<script>
  const sensors_for_each_type = {{ sensors_for_each_type | tojson | safe }};
  window.addEventListener("DOMContentLoaded", (event) => {
    const sensorTypeSelector = document.getElementById("sensor_type");
    sensorTypeSelector.addEventListener(
      "change", () => window.updateTable(sensors_for_each_type)
    );
    window.updateTable(sensors_for_each_type);
  });
</script>
{% endblock javascripts %}
