{% extends "base_site.html" %}

{% block title %} {{config['WEBSITE_NAME']}} {% endblock title %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>Choose sensors and time period</h3>
    <form>
      <div>

        <div>
          {% if sensor_type %}
            Sensor class
            <select
                id="sensorTypeSelector"
                class="selectpicker"
                name="sensorTypeSelector">
              {% for s in sensor_types %}
              <option
                  value="{{ s.name }}"
                  {% if sensor_type and s.name == sensor_type %} selected {% endif %}
                  >
                  {{s.name}}
              </option>
              {% endfor %}
            {% else %}
              <p>No sensors found in the database.</p>
            {% endif %}
          </select>
        </div>

        <div>
          Time period
          <input type="date" id="startDatePicker" name="startDate" value={{dt_from}}>
          &mdash;
          <input type="date" id="endDatePicker" name="startDate" value={{dt_to}}>
        </div>

        <div>
          Choose sensor(s)
          <div id="sensorCheckboxesDiv">
            {% for s in all_sensors %}
            <div class="form-check form-check-inline" id="sensorCheckbox{{s.id}}">
              <input
                  class="form-check-input"
                  type="checkbox"
                  id="sensor_checkbox_{{s.unique_identifier}}"
                  {% if sensor_ids and s.unique_identifier in sensor_ids %} checked {% endif %}
                  value="{{s.unique_identifier}}">
              <label
                  class="form-check-label"
                  for="sensor_checkbox_{{s.unique_identifier}}">
                {{s.unique_identifier}}:
                {{s.name}}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
      <button id="plotButton" style="margin-top: 5px" type="button">Plot</button>
      <button id="downloadButton" style="margin-top: 5px" type="button">Download</button>
    </form>
  </div>
</div>
  {% if data %}
    <div class="row">
      {% for m in measures %}
      <div class="col-lg-6 col-md-9 col-sm-15">
        <div class="x_panel tile fixed_height_640 overflow_hidden">
          <div class="plotDiv" id="{{m.name}}Plot">
            <canvas id="{{m.name}}Canvas"></canvas>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  <div>

{% endblock content %}

{% block javascripts %}
{{ super()}}
<script src="{{ url_for('static', filename='javascript/time_series_plots.js') }}">
</script>
<script>
  document.getElementById('sensorTypeSelector').addEventListener('change', window.changeSensorType);
  document.getElementById('plotButton').addEventListener('click', function() {
    window.requestTimeSeries('/sensors/time-series-plots', false);
  });

  document.getElementById('downloadButton').addEventListener('click', function() {
    window.requestTimeSeries('/sensors/time-series-plots', true);
  });

  const data = {{data | tojson }};
  {% for m in measures %}
  window.makePlot(data, "{{m.name}}", "{{m.name}}", "{{m.name}}Canvas");
  {% endfor %}
</script>
{% endblock javascripts %}
