{% extends "base_site.html" %}

{% block title %} DTBase {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="row d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="col-md-10 text-left">
      <h3 class="display-4">Welcome to DTBase</h3>
      <p class="lead">A generalised app for digital twins.</p>
      <a href="/sensors/index" class="btn btn-primary btn-lg mt-3">Get started</a>
    </div>
  </div>
{% endblock content %}
