{% extends "base_site.html" %}

{% block title %} Predictive models {% endblock title %}

{% block stylesheets %}
{{ super() }}
<link href="{{ url_for('static', filename='node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='node_modules/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="col">
    <div class="row">
      <div class="col">
        <h3>Choose predictive model</h3>
        <form method="post">
          <div>

            <div>
              Select a model:
              <select
                  id="model_name"
                  class="selectpicker"
                  name="model_name"
                onchange="this.form.submit()">
		{% if not selected_model_name %}
		<option value="" selected disabled hidden>Choose model</option>
		{% else %}
		<option value="{{ selected_model_name }}" selected>{{ selected_model_name }}</option>
		{% endif %}
                {% for m in models %}
                <option
                    value="{{ m.name }}"
                    {% if selected_model_name and m.name == selected_model_name %} selected {% endif %}
                    >
                    {{m.name}}
                </option>
                {% endfor %}
              </select>
            </div>
	  </div>
	  {% if selected_model_name %}
	  <div>
	    Select a model run:
	    <select
                  id="run_id"
                  class="selectpicker"
                  name="run_id"
              onchange="this.form.submit()">
	      {% if not run_id %}
		<option value="" selected disabled hidden>Choose run ID</option>
		{% else %}
		<option value="{{ run_id }}" selected>{{ run_id }}</option>
		{% endif %}
                {% for r in run_ids %}
                <option
                    value="{{ r }}"
                    {% if run_id and r == run_id %} selected {% endif %}
                    >
                    {{r}}
                </option>
                {% endfor %}
              </select>
	  </div>
	  {% endif %}
	</form>

    {% if model_data %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Model predictions</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
	  <div class="canvas_wrapper">
            <canvas id="model_plot"></canvas>
          </div>
	</div>
      </div>
    </div>
    {% endif %}


  </div>
{% endblock content %}

{% block javascripts %}
{{ super()}}
<!-- Utility functions -->
<script src="{{ url_for('static', filename='javascript/predictions.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/utility.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/timeseries_dashboard.js') }}"></script>
<!-- Chart.js -->
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/chartjs-adapter-moment/dist/chartjs-adapter-moment.min.js') }}"></script>


<script>
  function plot_predictions(model_data) {
      const pred_data = model_data["pred_data"];
      const sensor_data = model_data["sensor_data"];
      const measure = sensor_data["measure_name"];
      const sensor_id = sensor_data["sensor_uniq_id"];
      const canvas_name = "model_plot";
      //const canvas_name = measure + "_" + sensor_id;
      const title = measure + " " + sensor_id;
      document.getElementById(canvas_name).innerHTML = title;
      // See static/javascript/predictions.js for the plot function.
      const show_legend = true;
      const axis_title = measure;

      plot(pred_data["Upper Bound "+measure],
	   pred_data["Mean "+measure],
	   pred_data["Lower Bound "+measure],
	   sensor_data["readings"],
	   measure,
	   canvas_name,
	   axis_title,
	   show_legend
      );

  }

  const model_data = JSON.parse('{{model_data | safe}}');
  if (Object.keys(model_data).length > 0) {
      plot_predictions(model_data);
  }

</script>

{% endblock javascripts %}
