{% extends "base_site.html" %}

{% block title %} Predictive models {% endblock title %}

{% block content %}
<h3>Filter modelling results</h3>
<form method="post">
  <div>
    <div class="form-group">
      Predictive model:
      <select
        id="model_name"
        class="selectpicker"
        name="model_name"
        required>
        {% if not selected_model_name %}
        <option value="" selected disabled hidden>Choose model</option>
        {% endif %}
        {% for m in models %}
        <option
        value="{{ m.name }}"
        {% if selected_model_name and m.name == selected_model_name %} selected {% endif %}
        >
        {{m.name}}
        </option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      When was the model run:
      <input type="date" id="startDatePicker" name="startDate"  value={{dt_from}}>
      &mdash;
      <input type="date" id="endDatePicker" name="endDate" value={{dt_to}}>
    </div>

    <div class="form-group">
      Model scenario:
      <select
        id="model_scenario"
        class="selectpicker"
        name="scenario_description">
        <!-- This element is filled in Javascript, see updateScenarioSelectorNoArgs --!>
      </select>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Get model runs</button>

  <div class="mt-2">
  {% if runs != None and runs | length == 0 %}
    <p>No model runs found.</p>
  {% elif runs %}
    Select model run to show:
    <select
      id="run_id"
      class="selectpicker"
      name="run_id"
      onchange="this.form.submit()">
      {% if not run_id %}
      <option value="" selected disabled hidden>Choose run</option>
      {% endif %}
      {% for r in runs %}
      <option
      value="{{ r.id }}"
      {% if run_id and r.id == run_id %} selected {% endif %}
      >
      {{r.time_created}} - {{r.scenario_description}}
      </option>
      {% endfor %}
    </select>
  {% endif %}
  </div>
</form>

{% if model_data %}
<h3>Model predictions</h3>
<div>
  <canvas id="model_plot"></canvas>
</div>
{% endif %}

{% endblock content %}

{% block javascripts %}
{{ super()}}
<script src="{{ url_for('static', filename='javascript/models.js') }}"></script>
<script>

  function plot_predictions(model_data) {
    const pred_data = model_data["pred_data"];
    const sensor_data = model_data["sensor_data"];
    const measure = sensor_data["measure_name"];
    const sensor_id = sensor_data["sensor_uniq_id"];
    const canvas_name = "model_plot";
    const title = measure + " " + sensor_id;
    document.getElementById(canvas_name).innerHTML = title;
    // See static/javascript/predictions.js for the plot function.
    const show_legend = true;
    const axis_title = measure;
    let mid_line;
    let top_line;
    let bot_line;
    if (measure in pred_data) {
      mid_line = pred_data[measure]
    } else if ("Mean "+measure in pred_data) {
      mid_line = pred_data["Mean "+measure]
    } else {
      mid_line = null
    }

    if ("Upper Bound "+measure in pred_data) {
      top_line = pred_data["Upper Bound "+measure]
    } else {
      top_line = null
    }
    if ("Lower Bound "+measure in pred_data) {
      bot_line = pred_data["Lower Bound "+measure]
    } else {
      bot_line = null
    }
    window.plot(
      top_line,
      mid_line,
      bot_line,
      sensor_data["readings"],
      measure,
      canvas_name,
      axis_title,
      show_legend
    );

  }

  const model_data = {{model_data | tojson | safe}};
  if (model_data !== null && Object.keys(model_data).length > 0) {
    plot_predictions(model_data);
  }

  const scenarios = {{scenarios | tojson | safe}}
  const selectedScenarioDescription = {{selected_scenario_description | tojson | safe}}
  function updateScenarioSelectorNoArgs() {
    window.updateScenarioSelector(scenarios, selectedScenarioDescription);
  }

  document.getElementById("model_name").addEventListener(
    "change", updateScenarioSelectorNoArgs
  );
  updateScenarioSelectorNoArgs();
</script>

{% endblock javascripts %}
