{% extends "base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
          <form method="post">
            {{ login_form.hidden_tag() }}
            <h1>Login</h1>
            {% for field in login_form if field.widget.input_type != 'hidden'  %}
            <!-- The div is relatively positioned so that the password-toggle button sits
              correctly within it. -->
            <div style="position: relative">
              {{ field(class="form-control required", size=20, placeholder=field.label.text) }}
              {% if field.name == "password" %}
              <i class="fa fa-eye password-toggle" id="show-password"></i>
              {% endif %}
            </div>
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-primary submit" name="login">Log in</button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>

  {% block javascripts %}
  {{ super() }}
  <script type="module">
    import { passwordToggle } from '/static/javascript/utility.js';
    document.getElementById("show-password").addEventListener("click", passwordToggle);
  </script>
  {% endblock javascripts %}
{% endblock body %}
