body {
  font-family: "Poppins", sans-serif;
}

.container h3 {
  margin-top: 20px; /* Adjust this value according to your needs */
}

.nav-pills .nav-link {
  border-radius: 0.5rem;
}

.nav-pills .nav-link.active {
  background-color: #0d6efd;
  color: white;
  width: 100% !important;
}

.form-group {
  width: 40%; /* adjust as needed */
  /* centers the form if you want */
  margin-bottom: 10px;
}

.add-identifier-wrapper .existing-identifier-select,
.add-identifier-wrapper {
  width: 60%; /* adjust as needed */
}

.btn-add-identifier {
  width: 10%;
}

.add-identifier-wrapper .btn-add-identifier {
  margin-left: 5%; /* adjust as needed */
}

.identifier-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; /* Adjust this value according to your needs */
  margin-top: 20px; /* This will add space before each row */
}

.btn-margin {
  margin-top: 5px;
}

.custom-input {
  width: 50%;
}

.location-table {
  max-width: 50%;
  table-layout: fixed;
  overflow: hidden; /* Hide content that is wider than the max-width */
  text-overflow: ellipsis; /* Add ... at the end of the content if it is too wide */
  white-space: nowrap; /* Prevent the content from wrapping to the next line */
}

.num-column {
  width: 70px;
  /* bold the text */
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  border-radius: 3px;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  border: 1px solid #c8c8c8;
  color: #777;
  margin: 0 0 20px;
  width: 100%;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  -ms-box-shadow: 0 0 2px #ed1c24 inset;
  -o-box-shadow: 0 0 2px #ed1c24 inset;
  box-shadow: 0 0 2px #a97aad inset;
  background-color: #fff;
  border: 1px solid #a878af;
  outline: none;
}

/* Alerts and other Flask flashes. */
.alert {
  position: absolute;
  float: left;
  margin: 0 0 0 20px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px 4px 4px 3px;
  background-color: #ce5454;
  white-space: pre;
  top: 10px;
  left: -15px;
  opacity: 0;
  z-index: 1;
  transition: 0.15s ease-out;
}
.alert::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #ce5454 transparent transparent;
  border-style: solid;
  border-width: 11px 7px;
  position: absolute;
  left: -13px;
  top: 4px;
}
.alert {
  left: 0;
  opacity: 1;
}
.alert-success {
  color: #ffffff;
  background-color: rgba(38, 185, 154, 0.88);
  border-color: rgba(38, 185, 154, 0.88);
}
.alert-info {
  color: #e9edef;
  background-color: rgba(52, 152, 219, 0.88);
  border-color: rgba(52, 152, 219, 0.88);
}
.alert-warning {
  color: #e9edef;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88);
}
.alert-danger,
.alert-error {
  color: #e9edef;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88);
}
