<div class="d-flex flex-column align-items-start p-3 bg-light" style="width: 240px; min-height: 100vh;">
  <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto link-dark text-decoration-none pb-3 border-bottom w-100">
    <span class="fs-3">DTBase</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/home/index"
        class="nav-link text-dark {{ 'active text-white' if request.path == '/home/index' else '' }}"
        aria-current="page">
        <i class="fa fa-home me-2 fa-fw"></i>
        Home
      </a>
    </li>

    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded border-0 nav-link text-dark {{ 'active text-white' if request.path == '/sensors/index' else '' }}"
        data-bs-toggle="collapse" data-bs-target="#sensorsCollapse" aria-expanded="false">
        <i class="fa fa-thermometer-half fa-fw"></i>
        Sensors
        <i class="fa fa-caret-down ms-2"></i>
      </button>
      <div class="collapse" id="sensorsCollapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
	  <li><a href="/sensors/index" class="link-dark rounded text-decoration-none ms-4 ">Time-series plots</a>
          </li>
          <li><a href="/sensors/readings" class="link-dark rounded text-decoration-none ms-4 ">Raw sensor readings</a>
          </li>
          <!-- Add more items here -->
        </ul>
      </div>
    </li>
    <li>
      <a href="/models/index"
        class="nav-link text-dark {{ 'active text-white' if request.path == '/models/index' else '' }}">
        <i class="fa fa-cogs me-2 fa-fw"></i>
        Models
      </a>
    </li>


    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded border-0 nav-link text-dark {{ 'active text-white' if request.path == '/locations/index' else '' }}"
        data-bs-toggle="collapse" data-bs-target="#locationsCollapse" aria-expanded="false">
        <i class="fa fa-map-marker me-2 fa-fw"></i>
        Locations
        <i class="fa fa-caret-down ms-2"></i>
      </button>
      <div class="collapse" id="locationsCollapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="/locations/new_location_schema" class="link-dark rounded text-decoration-none ms-4 ">New location schema</a>
          </li>
          <!-- Add more items here -->
        </ul>
      </div>
    </li>


    <li>
      <a href="/users/index"
        class="nav-link text-dark {{ 'active text-white' if request.path == '/users/index' else '' }}">
        <i class="fa fa-users me-2 fa-fw"></i>
        Users
      </a>
    </li>
  </ul>
  <hr>
</div>
